//导航条背景色
$navbarBgColor: #000;
//导航条悬停背景色
$navbarBgHoverColor: #303d47;
//文字颜色
$textColor: #fff;

.main-nav {
  background-color: $navbarBgColor !important;
  padding: 0;

  .brand-logo {
    background-color: rgb(246, 33, 75);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    font-size: 18px;
    width: 44px;
    height: 44px;
  }
}